<div class="skills">

    <div class="encabezado">

        <h1 class="titulo">Skills</h1> 

        <div class="expandir"></div>

    </div>
    
    <div class="contenedor">

        <div>
            <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'NODE GS'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [titleFontSize]="'25px'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'JAVA'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'HTML'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'CSS'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'GITHUB'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="40"
            [radius]="100"
            [title]="'ANGULAR'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'JAVASCRIPT'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>

        <div>
            <circle-progress
            [percent]="20"
            [radius]="100"
            [title]="'SQL'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(66, 178, 223)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [titleFontSize]="'25px'"
            [animationDuration]="300"
            ></circle-progress>
        </div>
    
    </div>

</div>
