<div class="proyectos">
            
    <div class="encabezado">

        <h1 class="titulo">Proyectos</h1> 

        <div class="expandir"></div>

    </div>
    
    <div class="bloque">

        <div class="proyecto">

            <div class="titulo_referente" type="text">DISTAL <br>Distribuidora de Minerales</div>
        
            <div class="proyecto_lugar_y_tiempo" type="date">La Plata <br>Mar 2019-2022</div>

        </div>    
        
        <div class="proyecto_descripción">Encargado de logística. Reparto, manejo de stock, y reposicón de materiales</div>

        <div class="guardar_eliminar_proyecto">
        
            <div class="eliminar_experiencia">

            </div>

            <div class="guardar_experiencia">

            </div>

        </div> 
    
    </div>

</div>