<div class="header">
    <div class="header_buttons">

        <img class="logo_arg_pro" src="../../../assets/logo_argentina_programa.png" alt="">
        
        <div class="header_buttons">
           
            <div>
                <button type="button" class="login btn btn-info">Login</button>
            </div>
            
            <div>
                <a href="https://www.facebook.com/juan.m.parraga" target="_blank"><img class="social" src="../../../assets/logo_facebook.png" alt=""></a>
                <a href="https://www.linkedin.com/in/juan-manuel-parraga-7b2219249/" target="_blank"><img class="social" src="../../../assets/logo_linkedin.png" alt=""></a>
                <a href="https://www.instagram.com/juanma.04.lh/" target="_blank"><img class="social" src="../../../assets/logo_instagram.png" alt=""></a>
                <a href="https://wa.me/+5492216325679" target="_blank"><img class="social" src="../../../assets/logo_whats_app.png" alt=""></a>
            </div>

        </div>

    </div>
</div>
<div class="banner" >
</div>