<div class="contenedor_experiencia">
            
    <div class="encabezado">

        <h1 class="titulo">Educación</h1> 

        <div class="expandir"></div>

    </div>
    
    <div class="bloque">
        
        <div class="experiencia">

            <div class="titulo_referente" type="text" placeholder="Lugar">Escuela Media N°32</div>
        
            <div class="experiencia_lugar_y_tiempo" type="date" placeholder="Tiempo">La Plata <br>2004-2007</div>

        </div>    
        
        <div class="experiencia_descripción" placeholder="Descripción_del_trabajo">Bachillere de Ciencias Naturales</div>

        <div class="guardar_eliminar_experiencia">
        
            <div class="eliminar_experiencia">

            </div>

            <div class="guardar_experiencia">

            </div>

        </div>    
    
    </div>

</div>

