.skills{
        border:2px solid rgb(184, 184, 184);
        border-radius: 10px;
        background-color:  rgba(162, 190, 197, 0.801);
        
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.encabezado{
    display: flex;
    justify-content:space-between;
    padding: 20PX;
}

.habilidades{
    width:100%;
}

.titulo{
    width:20%;
    font-size: 30px;
}

.expandir{
    width:30px;
    height:30px;
    background-image: url(../../../assets/mas_azul.png);
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
    border:none;
    transform: rotate(-90deg);

}