<div class="contenedor_experiencia">
            
    <div class="encabezado">

        <h1 class="titulo">Experiencia</h1> 

        <div class="expandir"></div>

    </div>
    
    <div class="bloque">
        
        <div class="experiencia">

            <div class="titulo_referente" type="text" placeholder="Lugar">DISTAL <br>Distribuidora de Minerales</div>
        
            <div class="experiencia_lugar_y_tiempo" type="date" placeholder="Tiempo">La Plata <br>Mar 2019-2022</div>

        </div>    
        
        <div class="experiencia_descripción" placeholder="Descripción_del_trabajo">Encargado de logística. Reparto, manejo de stock, y reposicón de materiales</div>

        <div class="guardar_eliminar_experiencia">
        
            <div class="eliminar_experiencia">

            </div>

            <div class="guardar_experiencia">

            </div>

        </div>    
    
    </div>

</div>
